body {
    background-color: black;
}

h1 {
    margin: 20px 150px 50px 50px;
    text-align: center;
    font-size: 24px;
    color:white;
}

.imgs {
    margin: 10px 100px 10px 90px;
width: 250px;
height: 250px;
border: 2px solid rgb(241, 225, 0);
}

#btnSection {
    margin: 10px 10px 10px 10px;
    border: 1px solid blue;
}

#resultBtn {
    margin: 50px 450px 50px 640px;
}

#imgsSection {
    border: 1px solid red;
}


#listsSection {
    border: 1px solid green;

}